@charset "utf-8";

.add {
    color: brown;
   font-size: 20px;
   margin-left: 10px;
}

.list {
    color: rgb(103, 123, 235);
    margin-left: 10px;
}

.edit {
    color: rgb(99, 131, 34);
    margin-left: 10px;
}

.disp {
    color: rgb(119, 118, 50);
    margin-left: 10px;
}

.delete {
    color: red;
    margin-left: 10px;
}