@charset "utf-8";

.add {
    color: brown;
    font-size: 30px;
    text-align: center;
}

.list {
    color: rgb(103, 123, 235);
    text-align: center;
    font-size: 30px;
}

.edit {
    color: rgb(99, 131, 34);
    text-align: center;
    font-size: 30px;
}

.disp {
    color: rgb(119, 118, 50);
    text-align: center;
    font-size: 30px;
}

.delete {
    color: red;
    text-align: center;
    font-size: 30px;
}

.ng {
    color: rgb(231, 122, 122);
    text-align: center;
    font-size: 30px;
}


